.navbar {
	background-color: rgb(78, 42, 132);
	display: flex;
	margin-bottom: 10px;
}

#navbar-nav {
	display: flex;
	justify-content: space-between;
}

.navbar-link {
	color: white;
	font-size: 20px;
	font-weight: bold;
	margin-right: 10px;
	cursor: pointer;
}
