.content {
	max-width: 500px;
	margin: auto;
}

.custom-button {
	width: 150px !important;
}

.custom-card {
	margin-top: 10px;
}

.custom-list {
	height: 50px;
	justify-content: space-between;
	display: flex;
	align-items: center;
	padding-top: 17px;
}

.custom-date {
	font-size: 12px;
}

.card-subgroup {
	display: flex;
	align-items: baseline;
}

.attended-game-card {
	margin-top: 20px;
	background-color: white;
	margin-inline: 10px;
	padding: 5px;
	border-radius: 10px;
}

.custom-list {
	margin-inline: 10px;
	border-bottom: 3px solid rgb(78, 42, 132);
	height: auto;
}

.time-chart-label-selected {
	color: white;
	width: 80px;
	font-size: 18px;
	text-align: center;
	padding-block: 3px;
	border-radius: 5px;
	background-color: rgb(98, 48, 174);
}

.time-chart-label-unselected {
	width: 80px;
	font-size: 18px;
	color: white;
	text-align: center;
	padding-block: 3px;
	border-radius: 5px;
	background-color: rgb(198, 173, 236);
	cursor: pointer;
}
