.content {
	max-width: 500px;
	margin: auto;
}

.custom-button {
	width: 200px !important;
}

.custom-card {
	margin-top: 10px;
}

.custom-list {
	height: 50px;
	justify-content: space-between;
	display: flex;
	align-items: center;
	padding-top: 17px;
}

.custom-date {
	font-size: 12px;
}

.card-subgroup {
	display: flex;
	align-items: baseline;
}

.attended-game-card {
	margin-top: 20px;
	background-color: white;
	margin-inline: 10px;
	padding: 5px;
	padding-bottom: 20px;
	border-radius: 10px;
}

.custom-list {
	margin-inline: 10px;
	border-bottom: 3px solid rgb(78, 42, 132);
	height: auto;
	margin-bottom: 5px;
}

.time-chart-label-selected {
	color: white;
	width: 100px;
	font-size: 18px;
	text-align: center;
	padding-block: 3px;
	border-radius: 5px;
	background-color: rgb(98, 48, 174);
}

.time-chart-label-unselected {
	width: 100px;
	font-size: 18px;
	color: white;
	text-align: center;
	padding-block: 3px;
	border-radius: 5px;
	background-color: rgb(198, 173, 236);
	cursor: pointer;
}

.chart-toggle-selected {
	color: white;
	width: 180px;
	height: 45px;
	font-size: 25px;
	text-align: center;
	padding-block: 3px;
	border-radius: 5px;
	background-color: rgb(98, 48, 174);
}

.chart-toggle-unselected {
	width: 180px;
	height: 45px;
	font-size: 25px;
	color: white;
	text-align: center;
	padding-block: 3px;
	border-radius: 5px;
	background-color: rgb(198, 173, 236);
	cursor: pointer;
}

.past-future-selected {
	color: white;
	width: 150px;
	font-size: 22px;
	text-align: center;
	padding-block: 3px;
	border-radius: 5px;
	background-color: rgb(98, 48, 174);
}

.past-future-unselected {
	width: 150px;
	font-size: 22px;
	color: white;
	text-align: center;
	padding-block: 3px;
	border-radius: 5px;
	background-color: rgb(198, 173, 236);
	cursor: pointer;
}

.button-group {
	display: flex;
	align-items: center;
}

.points-page-seperator {
	border: 2px solid rgb(98, 48, 174);
}

.bottom-half {
	/* border-top: 2px solid lightgray; */
	margin-top: 10px;
	padding-top: 20px;

}

.chart-toggle-button {
	background-color: rgb(98, 48, 174);
	text-align: center;
	align-items: center;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid lightgray;
	padding-bottom: 20px;
}